<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="bienvenida">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="calcula-fecha">Calcular fecha</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="conversiones">Conversiones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="formulario">Formulario</a>
        </li>
      </ul>
    </div>
  </nav>
