<div class="container-fluid">
  <div class="row">
     <div class="col-md-6" id="contenedor-texto">
      <div class="">
        <h1 class="texto">
          Este es un ejemplo del texto que va ir aca decorador.
        </h1>
      </div>

    </div>
    <div class="col-md-6">
      <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">

        <div class="col-md-9">
          <label for="validationDefault01">Nombres</label>
          <input type="text" class="form-control" formControlName="nombres" id="validationDefault01" placeholder="Nombres"  required>
          <div *ngIf="campoInvalido('nombres')" class="error-message">Please provide a valid first name.</div>
        </div>

        <div class="col-md-9">
          <label for="validationDefault01">Apellidos</label>
          <input type="text" class="form-control" formControlName="apellidos" id="validationDefault01" placeholder="Apellidos"  required>
          <div *ngIf="campoInvalido('apellidos')" class="error-message">Please provide a valid first name.</div>
        </div>

        <div class="select">
          <label for="select1">¿Fumas Actualmente?</label>
          <select formControlName="fumas" id="select1" value="No" class="custom-select col-md-3 mb-3">
            <option [value]="true">Si</option>
            <option [value]="false">No</option>
          </select>
        </div>

        <div class="select">
          <label for="select1">¿Te gusta la lectura?</label>
          <select formControlName="lecturaActualmente" id="select1" value="No" class="custom-select col-md-3 mb-3">
            <option [value]="true">Si</option>
            <option [value]="false">No</option>
          </select>
        </div>

        <div class="col-md-9">
          <h6 for="exampleFormControlTextarea1">Ingrese los tres ultimos libros que has leido en los ultimos tres meses haciendo un salto de linea cada que agregres el nombre de un libro.</h6>
          <textarea formControlName="ultimosTresLibrosLeidos" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          <div *ngIf="campoInvalido('ultimosTresLibrosLeidos')" class="error-message">Please provide a valid first name.</div>
        </div>
        <div class="col-md-9">
          <button (click)=" enviarFormulario()" type="button" class="btn btn-primary btn-lg btn-block">Enviar informacion</button>
        </div>

    </form>
    </div>

  </div>

</div>

